.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    align-items: center;
}
nav  a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
}
nav  a:hover {
    color: orange;
}
.text-white{
    color: white;
    margin-left: 20px;

}
.btn-signOut{
    margin-left: 20px;
    background: rgba(255, 153, 0, 0.7);
    color: white;
}