.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    align-items: center;
}
nav  a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
}
nav  a:hover {
    color: orange;
}